body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
table {
    width: 100%;
    max-width: 500px;
    margin: 20px 0;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}
input, button {
    padding: 8px;
    margin: 5px;
}

@media (max-width: 1152px){
    button, input{
        display: block;
        margin: auto;
        margin-top: 10px;
    }
}